@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    margin: auto 0;
}


.header hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #3b3b3b;
    margin: 10px auto;
}

.header {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.backlink {
    margin-left: 5%;
}

.backlink a {
    text-decoration: none;
    color: #2B2B2B;
    font-family: 'Halant', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120.833%;
    /* 1.20831rem */
    letter-spacing: 0.04rem;
}

.backlink a:hover {
    text-decoration: underline;
}


.title {
    display: flex;
    justify-content: center;
    color: #2B2B2B;
    text-align: center;

    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 3.02081rem */
    letter-spacing: 0.125rem;
    margin-bottom: 1.56rem;
}

.alpha {
    display: flex;
    text-align: center;
    background: rgba(218, 193, 187, 0.49);
    margin-bottom: 5.30rem;
    justify-content: center;
    align-items: center;
    height: 3rem;


}

.abc {
    display: inline-block;
    margin: 0 5px;

}

.alpha .abc a {
    color: #000;

    text-align: center;
    font-family: 'Halant', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120.833%;
    /* 1.8125rem */
    letter-spacing: 0.075rem;
}


.abctitle {
    background: rgba(218, 193, 187, 0.49);
    color: #2B2B2B;

    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 3.02081rem */
    letter-spacing: 0.125rem;

}

.abcbrands ul {
    height: 20rem;
    border-left: 3px #2B2B2B solid;
}

.abcbrands a,
.abcbrands li{
    color: #000;

    font-family: 'Halant', serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 178%;
    /* 2.4475rem */
    letter-spacing: 0.055rem;
}

.abcbrands a:hover{
    text-decoration: underline;
    font-weight: 600;
    /* font-size: 1.2rem; */
}

.footer {
    position: fixed;
    bottom: 0;
}