body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.backlink {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.main {
    padding: 20px;
}

.img-container {
    text-align: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.type {
    font-size: 18px;
    margin-bottom: 10px;
}

.desc {
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.buy button {
    background-color: #E0B594;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 1.05731rem */
    letter-spacing: 0.035rem;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.buy button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}