/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
} */
.main .row{
    display: flex;
}
.main .col1,
.col2 {
    text-align: center;
   
    
    width: 50%;
}
.main .col1{
     margin-left: 9%;
}
.main .col2{
    margin-right: 5%;
    
}
.main .propos-nous{
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
}
.main .info_rajae,
.main .info_wissal img, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    /*margin-right:10%;*/ 
}


.main .col1, .main .col2 {
    margin-bottom: 30px; 
    margin-left: 30px;
    
}
.main .rajae, .main .wissalimg{
    width : 90px;
    height: 90px;
}
.main .label {
    height: 50%;
    width: 50%;
    }
.main .nos-mission{
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 4%;
    
}
.footer {
    position: fixed;
    bottom: 0;
}

