@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 0;
}
.header hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #3b3b3b;
    margin: 10px auto;
}

.main .row {
    height: fit-content;
    margin: 5% 0;
}

.backlink {
    margin-left: 5%;
}

.backlink a {
    text-decoration: none;
    color: #2B2B2B;
    font-family: 'Halant', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120.833%;
    /* 1.20831rem */
    letter-spacing: 0.04rem;
}

.backlink a:hover {
    text-decoration: underline;
}

.backlink .upcase {
    text-transform: uppercase;
}

.main {
    padding: 20px;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 25rem;
    height: auto;
    /* margin-bottom: 20px; */
}

.brand a {
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;

    font-family: 'Judson', serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120.833%;
    /* 1.8125rem */
    letter-spacing: 0.06rem;
    text-decoration-line: underline;
    margin-bottom: 1rem;
}

.name {
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;

    font-family: "Playfair Display", serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 2.71875rem */
    letter-spacing: 0.1125rem;
    margin-bottom: 1rem;
}

.type {
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;

    font-family: 'Judson', serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120.833%;
    /* 1.8125rem */
    letter-spacing: 0.06rem;
    margin-bottom: 3rem;
}

.desc {
    color: #000;
    /* width: 30rem; */
    font-family: "Halant", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120.833%;
    /* 1.66144rem */
    letter-spacing: 0.055rem;
    margin-bottom: 3rem;
}

.container-fluid{
    /* margin: 0; */
    padding: 0;
}

.price {
    color: #000;

    font-family: "Playfair Display", serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 2.71875rem */
    letter-spacing: 0.1125rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 1.62rem;
}

.discover {
    background-color: #E0B594;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 1.05731rem */
    letter-spacing: 0.035rem;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.discover:hover {
    background-color: #E29961;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertically center the child elements */
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
}

@media(max-width: 768px){
    .type,
    .brand a{
        font-size: 1rem;
    }
    .name{
        font-size: 1.5rem;
    }
    

    .buy{
        width: 100%;

    }

}