@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant&display=swap');

body {
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #2B2B2B, #534b48);
    color: #fff;
    padding: 50px 0 10px;
    /* border-top-right-radius: 100px; */
}

footer .footer-row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 33.33%;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1%;
}

.col * {
    margin-bottom: 12px;
}

.col .foot-title {
    width: 100%;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 24.17px;
    letter-spacing: 0.80px;
    font-family: 'Judson', serif;
    text-align: center;
}

.ellipse {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    border-radius: 4.5px;
}

.col ul {
    position: relative;
    padding-left: 0;
}

.col ul li {
    list-style: none;
    width: 100%;
}

.col li:first-child {
    width: 0;
    margin-left: 50%;
}

footer li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    line-height: 21.75px;
    letter-spacing: 0.72px;
    display: inline-block;
    word-wrap: break-word;
    font-family: 'Judson', serif;
    font-weight: 400;
}

footer li a:hover {
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Judson', serif;
}

.container-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #2B2B2B;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.container-icons .fa-brands:hover {
    background: #765f6a;
    color: #d8d5d5;
    transition: all 0.4s ease-out;
}

footer .copyright {
    width: 100%;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Halant', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.33px;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    .col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .col *:last-child {
        margin-bottom: 0;
    }

    .foot-title {
        font-size: 18px;
    }

    .container-icons .fa-brands {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    footer {
        padding: 50px 0 20px;
        border-top-right-radius: 50px;
    }

    .copyright {
        font-size: 14px;
    }

    hr {
        margin: 20px auto;
    }
}
