body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
    background-image: url("../images/contactus.jpg"), none;
  background-color: lightgray;
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 70%;
}
.contact-form{
  margin-right: auto;
  margin-left: 10%;
  width: 80%;
}


.contact-info{
  margin-top: 20%;
  width: auto;
  margin-left: 55%;
}

.a {
  width: 30px;
  height: 30px;
}

form {
  margin-top: 10px;
  width: 80%;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row div {
  flex: 1;
  margin-right: 10px;
  background-color: #fff;
}

.form-row div:last-child {
  margin-right: 0;
}

section {
  margin-bottom: 10px;
}
 
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  background-color: white;
}

button {
  background-color: rgb(220, 175, 164);
  color: #fff;
  border: none;
  padding: 10px 20px ;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-info,
        .contact-form {
            padding: 20px;
        }

        @media (min-width: 768px) {
            .row {
                display: flex;
            }

            .col-info,
            .col-form {
                flex: 1;
            }
        }

        @media (max-width: 767.98px) {
            .col-info,
            .col-form {
                width: 100%;
            }
        }
        