.container {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: white;
    height: auto !important;
    width: 180px !important;
    padding: 20px;
 
   
}

.content {
    flex: 1;
    padding: 20px;
    order: 1;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}


