@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header {
    width: 100%;
    background: url("../images/accueil.png"), lightgray 0px 0px / 100% 110.714% no-repeat;
    height: 56rem;
    flex-shrink: 0;


}

.header-content {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: end; */
    gap: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    margin-top: 5rem;
}



.header-content h1 {
    color: #FFF;
    text-align: right;
    font-family: "Playfair Display", serif;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.38;
    letter-spacing: 0.39rem;
    width: 36.5rem;
    height: 14.4375rem;
    flex-shrink: 0;
}


.header-content .subtitle p {
    color: #FFF;
    text-align: right;
    font-family: "Halant", serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20833;
    letter-spacing: 0.055rem;
    width: 35.25rem;
    height: 8.0625rem;
    flex-shrink: 0;

    margin: 0;
}

.section-title {
    display: flex;
    width: 34.375rem;
    height: 5.1875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2B2B2B;

    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 3.02081rem */
    letter-spacing: 0.125rem;
    margin: 3rem 7rem;
}

.product-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0;
    margin-bottom: 20px;

}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: center;
    display: flex;
    width: calc(20% - 20px);
    flex-direction: column;
    align-items: center;
    gap: 0.5625rem;
    border: 1px lightgray;
}

.product-card:last-child {
    margin-right: 0;
}

.image img {
    width: 14.9375rem;

    height: 13.25rem;

}

.name {
    font-family: "Halant", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 1.20831rem */
    letter-spacing: 0.04rem;
    margin: 0.56rem 0;
}

.brand {

    margin-bottom: 0.56rem;
    font-family: "Halant", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120.833%;
    /* 1.20831rem */
    letter-spacing: 0.04rem;
}

.price {
    margin-bottom: 0.56rem;
    font-family: "Halant", serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 1.20831rem */
    letter-spacing: 0.04rem;
}

.discover {
    background-color: #E0B594;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    /* 1.05731rem */
    letter-spacing: 0.035rem;
    transition: background-color 0.3s ease-in-out;
}

.discover:hover {
    background: #E29961;
}

.header-content .discover {
    padding: 15px 25px;
    /* Adjust padding as needed */
    font-size: 1.2rem;
    /* Adjust font size as needed */
    width: 200px;
    /* Adjust width as needed */
}

.product-scroll-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 1001;
    color: #007bff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.row-offres {
    text-align: center;
    margin-bottom: 7rem;
}

img.offre {
    width: 30%;
    height: 30%;
}


.footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {

    .section-title {
        margin: 3rem 0;
        text-align: center;
        width: auto;
    }

    .container-header {
        background-size: cover;
    }

    .header-content {
        align-items: center;
        text-align: center;
        width: 70%;
        right: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .header-content h1 {
        font-size: 2.8rem;
        text-align: center;
        width: 33rem;
    }

    .header-content .subtitle p {
        text-align: center;
        font-size: 0.9rem;
        width: 33rem;
    }

    .product-card {
        width: calc(50% - 20px);

    }
}

@media (max-width: 480px) {
    .product-card {
        margin-right: 0;

    }

    .product-card {
        width: calc(50% - 20px);
        gap: 0.2625rem;
    }

    .header-content {
        align-items: center;
        text-align: center;
        width: 100%;
        right: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-60%);
    }

    .section-title {
        font-size: 1.5rem;
    }

    .container-header {
        background-size: inherit;
    }

    .header-content h1 {
        font-size: 2.4rem;
        text-align: center;
        width: 20rem;
    }

    .header-content .subtitle p {
        text-align: center;
        font-size: 1rem;
        width: 20rem;
    }

    .image img {
        width: 12.9375rem;
    
        height: 11.25rem;
    
    }
    .brand,
    .name{
        font-size: 0.8rem;
    }
    .price{
        font-size: 0.9rem
    }
    .discover{
        padding: 8px 18px;
    }

    .row-offres {
        flex-direction: column;
        /* Stack images vertically */
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .offre {
            width: 100%;
            max-width: 350px;
            height: auto;
        }

    }
}