:root {
    --bleu-nuit: rgba(41, 53, 65, 1);
    --blanc-bleu: rgba(233, 253, 252, 1);
    --rouge: rgba(224, 181, 148, 1);
    --blanc: rgba(255, 255, 255, 1);
    --text-font-family: "Halant", Helvetica;
    --text-font-weight: 600;
    --text-font-size: 16px;
    --text-letter-spacing: 0.64px;
    --text-line-height: 120.83333730697632%;
    --text-font-style: normal;
    --title-font-family: "Playfair Display", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 40px;
    --title-letter-spacing: 2px;
    --title-line-height: 120.83333730697632%;
    --title-font-style: normal;
    --subtitle-font-family: "Halant", Helvetica;
    --subtitle-font-weight: 500;
    --subtitle-font-size: 16px;
    --subtitle-letter-spacing: 0.64px;
    --subtitle-line-height: 120.83333730697632%;
    --subtitle-font-style: normal;
    --baspage-font-family: "Judson", Helvetica;
    --baspage-font-weight: 400;
    --baspage-font-size: 20px;
    --baspage-letter-spacing: 0.8px;
    --baspage-line-height: 120.83333730697632%;
    --baspage-font-style: normal;
    --MENU-font-family: "Raleway", Helvetica;
    --MENU-font-weight: 700;
    --MENU-font-size: 14px;
    --MENU-letter-spacing: 0.56px;
    --MENU-line-height: 120.83333730697632%;
    --MENU-font-style: normal;
    --texte-font-family: "Halant", Helvetica;
    --texte-font-weight: 500;
    --texte-font-size: 22px;
    --texte-letter-spacing: 0.88px;
    --texte-line-height: 120.83333730697632%;
    --texte-font-style: normal;
    --FORM-font-family: "Raleway", Helvetica;
    --FORM-font-weight: 700;
    --FORM-font-size: 18px;
    --FORM-letter-spacing: 2.52px;
    --FORM-line-height: 129.99999523162842%;
    --FORM-font-style: normal;
    --variable-collection-pastel: rgba(158, 201, 220, 1);
    --variable-collection-offrebox: rgba(158, 201, 220, 0.21);
    --variable-collection-grey: rgba(196, 196, 196, 1);
    --variable-collection-GREYSI: rgba(43, 43, 43, 1);
    --variable-collection-hihi: rgba(218, 193, 187, 0.49);
  }
  