@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

.lv {
  margin: 0;
  padding: 0;
  font-family: Halant;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(43, 43, 43, 1);
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

li {
  list-style: none;
}

li a {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(43, 43, 43, 1);
  font-size: 14px;
  transition: scale 0.2 ease;

}

li a:hover {
  text-decoration: underline;
  text-shadow: 0px 6px 4px #00000040;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 800;
  scale: 0.95;
}


a {
  text-decoration: none;
  color: #000;
}

header {
  position: relative;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 85px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 25px;

}

.navbar .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.icon {
  display: flex;
  gap: 29px;
}

.action-btn .icons {
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:active {
  scale: 0.95;
}

.dropdown-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 0px;
  background: 255, 255, 255, 1;
  backdrop-filter: blur(15px);
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity 0.3s ease;

}

.dropdown-menu.open {
  height: 1000px;
  display: block;
  padding-top: 50px;

}

.dropdown-menu li {
  padding: 1rem;
  display: flex;
  align-items: end;
  justify-content: end;
  color: #fff;

}

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1001;
}

.close-btn i {
  font-size: 1.5rem;
  color: rgba(43, 43, 43, 1);
}

.close-btn i:hover {
  color: #2b2b2b;
}

.hidden {
  display: none;
}

.cart-notification {
  position: absolute;
  top: 20px; 
  right: -7px; 
  background-color: #E0B594;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  display: none; /* Initially hidden */
}


@media(max-width: 900px) {
  .lv {
    font-size: 14px;
    line-height: 24px;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .icon {
    order: 2;
    margin-left: auto;
  }

  .logo {
    order: 1;
  }

  .toggle-btn {
    order: 3;
  }

  .dropdown-menu {
    display: none;
    width: 100%;
  }

  .toggle-btn {
    margin-left: 5%;
  }

  .icon {
    gap: 15%;
  }
}

.menudown {
  position: relative;
}

.menudown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: 255, 255, 255, 1;
  backdrop-filter: blur(15px);
  min-width: 160px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.menudown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.menudown:hover .menudown-content {
  display: block;
}


@media(max-width: 570px) {
  .dropdown-menu {
    left: 0;
    width: unset;
  }
}